<!-- <p>gallery-lightbox works!</p> -->

<div class="gallery-light-container">
    <div class="gallery">
        <div *ngFor="let data of galleryData; let i=index" class="gallery-image">
            <img (click)="onPreviewImage(i)" [src]="data.imageSrc" [alt]="data.imageAlt">
        </div>
    </div>
    <div *ngIf="showmask" class="lightbox" @animation2>
        <span *ngIf="showCount" class="count">{{currentIndex + 1}}/{{totalImageCount}} </span>
        <button *ngIf="previewImage" class="close-btn" (click)="onClosePreview()">
            <fa-icon class="fatimes" [icon]="faTimes"></fa-icon>
        </button>
        <button *ngIf="controls" class="btn-lightbox-carousel btn-prev" (click)="prev()">
            <fa-icon class="icon-lightbox-carousel icon-prev" [icon]="faArrowLeft"></fa-icon>
        </button>
        <button *ngIf="controls" class="btn-lightbox-carousel btn-next" (click)="next()">
            <fa-icon  class="icon-lightbox-carousel icon-next" [icon]="faArrowRight"></fa-icon>
        </button>

        <div *ngIf="previewImage"  [@animation]="{value : 'visible'}"
        (@animation.done)="onAnimationEnd($event)"
        class="lightbox-img">
            <img [src]="currentLightboxImage.imageSrc" [alt]="currentLightboxImage.imageAlt">
        </div>
    </div>
</div>